* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    cursor: pointer;
}

#navbar {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 20;
    width: 100%;
    background-color: white;
}

.navLeft {
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.navLeft img {
    margin-right: 20px;
}

#menuImg {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
}

.navLeft button {
    background-color: white;
    border-radius: 50%;
    padding: 1px;
}

.navLeft button:hover {
    background-color: #dedede;
}

#ytlogo {
    height: 40px;
}

.navCenter {
    display: flex;
    align-items: center;
}

.searchBox {
    display: flex;
    align-items: center;
    background-color: #dedede;
    height: 42px;
    border: 1px solid #a0a0a0;
    border-radius: 20px;
}

.searchBox input {
    width: 400px;
    height: 42px;
    padding: 10px;
    font-size: large;
    border: 2px solid gray;
    border-color: #c5c5c5;
    border-radius: 20px 0 0 20px;
}

.searchBox img {
    margin: 15px;
    filter: brightness(0%)
}

.voiceSearchImg {
    height: 45px;
    margin-left: 20px;
    padding: 10px;
    background-color: #dedede;
    border-radius: 50%;
}

.navRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navRight button {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 20px;
    width: 100px;
    cursor: pointer;
    font-size: large;
}

.navRight img {
    height: 36px;
    margin: 10px;
    border-radius: 50%;
}

/* sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15%;
    position: fixed;
    top: 0;
    padding-left: 2%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    padding-top: 50px;
    background-color: white;
    z-index: 10;
}

.sidebar_TopLinks button {
    border: none;
    background-color: white;
}

.sidebar_TopLinks button:hover {
    background-color: #dedede;
    border-radius: 50%;
}

.sidebarLinks a {
    display: flex;
    align-items: center;
    font-size: large;
    color: black;
    margin-top: 10px;
    width: fit-content;
    flex-wrap: wrap;
}

.sidebarLinks a img {
    height: 50px;
    width: 60px;
    padding-right: 20px;
}

.sidebarLinks hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    width: 85%;
    margin-top: 20px;
}

.you {
    display: flex;
    align-items: center;
}

.you img {
    height: 50px;
    width: 60px;
    padding-right: 20px;
}

.small-sidebar {
    width: 6%;
}

.small-sidebar a p {
    display: none;
}

.small-sidebar h2 {
    font-size: 15px;
}

.small-sidebar hr {
    width: 50%;
}

/* Main Content */
.container {
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.large-container {
    padding-left: 7%;
}

.listcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}

.vidList .thumbnail {
    width: 100%;
    border-radius: 5px;
}

.vidList .flex-div {
    display: flex;
    align-items: flex-start;
    margin-top: 7px;
}

.vidList .flex-div img {
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

.vidInfo {
    color: #5a5a5a;
    font-size: 13px;
}

.vidInfo a {
    color: black;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

/* Media for main page*/

@media(max-width:900px) {
    #menuImg {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .small-sidebar {
        display: none;
    }

    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .large-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .navRight img {
        display: none;
    }

    .navRight button {
        display: none;
    }

    .navRight .userImg {
        display: block;
        width: 30px;
    }

    .navCenter .searchBox input {
        width: 130px;
    }

    .navCenter .voiceSearchImg {
        display: none;
    }
}

/* Play Video Page */

.play-container {
    padding-left: 2%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.playVideo {
    flex-basis: 69%;
}

.right-sidebar {
    flex-basis: 30%;
}

.playVideo video {
    width: 100%;
}

.sideVideoList {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.sideVideoList img {
    width: 100%;
}

.sideVideoList .small-thumbnail {
    flex-basis: 49%;
}

.sideVideoList .vidInfo {
    flex-basis: 49%;
}

.playVideo .tags a {
    color: black;
    font-size: 13px;
}

.playVideo h3 {
    font-weight: 600;
    font-size: 22px;
}

.channelInfo {
    display: flex;
    margin-top: 10px;
}

.channelInfo img {
    height: 50px;
    border-radius: 50%;
}

.channelInfo .channel {
    padding-left: 15px;
}

.channel p {
    color: #605c5c;
}

.channel-btn {
    margin-top: 2px;
    margin-left: 22px;
}

.channel-btn button {
    padding: 13px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
    font-size: medium;
    font-weight: 600;
    border-radius: 22px;
}

.userActions {
    display: flex;
    flex-direction: row;
    margin-left: 230px;
}

.like-dislike {
    display: flex;
    margin-top: 2px;
    background-color: #f2f2f2;
    border-radius: 25px;
}

.like-dislike button {
    padding: 3px;
    cursor: pointer;
    border: none;
    font-size: medium;
    font-weight: 600;
    border-radius: 25px;
}

.like-dislike button img {
    height: 25px;
    width: 25px;
}

.like-dislike button:hover {
    background-color: #000;
}

.share-download {
    display: flex;
    margin-top: 2px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: #f2f2f2;
    border-radius: 25px;
}

.share-download button {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 8px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
    border: none;
    font-size: medium;
    font-weight: 600;
    border-radius: 25px;
}

.share-download button:hover {
    background-color: black;
    color: white;
}

.share-download button i {
    padding: 2px;
}

.menu {
    background-color: #f2f2f2;
    margin-left: 5%;
    padding: 5px;
    border-radius: 50%;
}

.menu button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.menu button i {
    font-size: 22px;
    color: #000;
}

.menu:hover {
    background-color: black;
}

.menu:hover i {
    color: white;
}

/* Descriptionbox */

.description {
    margin-top: 18px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
}

.description .meta {
    display: flex;
}

.meta span {
    font-size: 16px;
    font-weight: 600;
}

.meta .hashtags {
    margin-left: 12px;
}

.meta .hashtags a {
    color: #065FD4;
    font: bold;
}

.txtdesc {
    margin-top: 20px;
}

.txtdesc p {
    margin-top: 20px;
}

.comment-section {
    margin-top: 20px;
}

.comment-section span {
    font-size: 25px;
    font-weight: 600;
}

.add-comments {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.add-comments img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 16px;
}

.add-comments #input-comment {
    border: none;
    border-bottom: 2px solid rgb(198, 193, 193);
    outline: none;
    width: 100%;
}

.added-comments {
    margin-top: 30px;
}

.added-comments .comment-div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.added-comments .comment-div img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.comment {
    margin-left: 16px;
}

.comment .username {
    font-size: 14px;
}

.comment .time {
    font-weight: 100;
    font-size: 12px;
    margin-top: 2px;
    margin-left: 3px;
    color: #4a4a4add;
}

.comment .comment-text {
    display: block;
    margin-top: 10px;
    font-weight: 100;
    font-size: 15px;
}

.comment-feedback {
    display: flex;
}

.comment-feedback button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.comment-feedback button .like {
    font-size: 16px;
    margin-right: 5px;
}

.comment-feedback button .dislike {
    font-size: 16px;
    margin-left: 10px;
}

/* Media for PlayVideo page */

@media(max-width:1200px) {

    .playVideo {
        flex-basis: 100%;
        width: 100%;
    }

    .right-sidebar {
        margin-top: 15px;
        width: 100%;
        flex-basis: none;
    }
}

@media (max-width:900px) {
    .row {
        flex-direction: column;
        padding: 0;
    }

    .playVideo {
        width: 100%;
        padding: 0;
    }


    .playVideo video {
        width: 100%;
        height: auto;
        padding: 0;
    }


    .channelInfo {
        flex-wrap: wrap;
        gap: 1px;
    }


    .channelInfo img {
        margin-top: 5px;
        height: 60px;
        border-radius: 50%;
    }


    .channelInfo .channel {
        padding-top: 12px;
        padding-left: 8px;
    }


    .channelInfo .channel h3 {
        font-size: 20px;
        padding-left: none;
    }

    .channelInfo .channel p {
        font-size: 16px;
        padding-left: 2px;
    }

    .channelInfo .channel-btn {
        margin-left: auto;
    }

    .channelInfo .userActions {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-left: auto;
        margin-top: 20px;
    }

    .channelInfo .menu {
        margin-left: 2px;
    }

    /*
    

    

   

    

    

    .like-dislike {
        margin-top: 1px;
        background-color: #f2f2f2;
        border-radius: 0px;
    }

    .channelInfo .userActions .like-dislike {
        display: flex;
        border-radius: 40%;
    }

    .channelInfo .userActions .like-dislike button {
        width: 30px;
        border-radius: none;
        padding: 0px;
    }

    .channelInfo .userActions .like-dislike img {
        height: 25px;
        width: 25px;
        padding: 1px;
    }

    .share-download {
        display: flex;
        margin-top: 1px;
        margin-left: 20px;
        background-color: #f2f2f2;
        border-radius: 40%;
    }

    .share-download button {
        padding: 5px;
        padding-left: 4px;
        padding-right: 4px;
        cursor: pointer;
        border: none;
        font-size: 12px;
        font-weight: 600;
        border-radius: 25px;
    }

    .channelInfo .menu {
        margin-left: 20px;
    }

    .channelInfo .meta {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .description .meta span {
        flex: 0 0 100%;
    }

    .description .meta .hashtags {
        min-width: 0;
        width: 100%;
    }

    .description .meta .hashtags a {
        display: inline-block;
        white-space: normal;
        word-break: break-word;
    } */

}